# Ignore all .log files
*.log

# Ignore node_modules folder
node_modules/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore specific folders
/visualize_results/.ipynb_checkpoints/
citation_systems/.ipynb_checkpoints/
failure_analysis/.ipynb_checkpoints/
annotation_interface/.ipynb_checkpoints/
/anonymization/
